Repository jelenas97/JSD, pull requests merged in 2021-06, with the labels that each got.

#13 Model template
  entity_codegen.py
  entity_test.py
  srcgen/model/Address.java
  srcgen/model/Person.java
  templates/java.template
  templates/model.template
  test.ent
Labels: Templates

#14 Grammar
  entity.tx
  entity_test.py
  metamodel.py
  templates/model.template
  test.ent
Labels: Grammar, Parser

#18 Controller template, minor other changes
  entity.tx
  entity_codegen.py
  srcgen/controller/MedicationController.java
  srcgen/controller/PrescriptionController.java
  srcgen/model/Medication.java
  srcgen/model/Prescription.java
  templates/controller.template
  templates/model.template
  test.ent
Labels: Templates, enhancement

#19 generate dto classes
  dotexport/entity_meta.dot
  dotexport/entity_meta.dot.png
  entity_codegen.py
  srcgen/dto/MedicationDTO.java
  srcgen/dto/PrescriptionDTO.java
  templates/dto.template
Labels: Templates
